@media screen and (min-width: 768px) {
  .main-content.collapsed {
    margin-left: 75px;
  }
}

.area-buttons {
  position: absolute;
  top: 3rem;
  right: 3rem;

  button {
    width: 110px;
    cursor: pointer;
  }
}

.admin-layout {
  width: 100vw;
  max-width: 100vw;
  //height: calc(100vh - 8rem);
  height: 100vh;
  max-height: 100vh;
  display: flex;
  overflow: hidden;
  transition: ease 0.3s;
  overflow-y: auto;
  flex-direction: column;

  .generate {
    ngx-dropzone {
      margin: 4rem;

      &.custom-dropzone {
        background: #333;
        color: #fff;
        border: 3px dashed #269e72;

        &.hovered {
          border-style: solid;
        }
      }
    }

    button {
      margin: 0 40%;
    }
  }

  .print {
    margin: 3rem;

    .container-tag-a4 {
      .img {
        //width: 30%;
        height: 50%;
        margin: .7rem;
      }
    }
  }

  //Mobile
  @media (max-width: 767px) {
    .generate {
      ngx-dropzone {
        margin: 3rem .7rem;
      }

      button {
        margin: 1rem 5rem;
      }
    }
  }

  @media print {
    .banner-page,
    .main-content,
    .area-buttons {
      display: none;
    }

    .print {
      margin: .4rem;
      width: 210mm;
      height: 297mm;
      overflow: hidden;

      .container-tag-a4 {
        .img {
          width: 30%;
          height: 40%;
          margin: .2rem;
        }
      }
    }
  }
}
